{
    "rules": {
        "array-bracket-spacing":       [2, "never"],
        "arrow-parens":                [2, "always"],
        "arrow-spacing":               [2, {"before": true, "after": true}],
        "brace-style":                 [2, "1tbs", {"allowSingleLine": false}],
        "comma-spacing":               [2, {"before": false, "after": true}],
        "curly":                       [2, "all"],
        "indent":                      [2, 4, {"SwitchCase": 1, "VariableDeclarator": 1}],
        "key-spacing":                 [2, {"beforeColon": false, "afterColon": true}],
        "linebreak-style":             [2, "unix"],
        "no-console":                  0,
        "object-curly-spacing":        [2, "never"],
        "one-var":                     [2, "always"],
        "prefer-template":             2,
        "quotes":                      [2, "single"],
        "semi":                        [2, "always"],
        "space-after-keywords":        [2, "always"],
        "space-before-blocks":         [2, "always"],
        "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}],
        "space-before-keywords":       [2, "always"],
        "space-infix-ops":             [2, {"int32Hint": false}]
    },
    "env": {
        "es6": true,
        "node": true
    },
    "extends": "eslint:recommended",
    "ecmaFeatures": {
        "experimentalObjectRestSpread": true,
        "modules": true
    },
    "plugins": [
    ]
}
